<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="File_Merger.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
    <userSettings>
        <File_Merger.Properties.Settings>
            <setting name="LastFilledDirectorySearch" serializeAs="String">
                <value>C:\</value>
            </setting>
            <setting name="LastFilledExtensions" serializeAs="String">
                <value />
            </setting>
            <setting name="LastFilledOutputFile" serializeAs="String">
                <value />
            </setting>
            <setting name="LastFilledDirectoryOutput" serializeAs="String">
                <value>C:\</value>
            </setting>
            <setting name="IncludeSubdirectory" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="SynchronizeDirectoryFields" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="DeleteOutputFile" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="OneOutputFilePerExtension" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="ShowProgressbar" serializeAs="String">
                <value>False</value>
            </setting>
        </File_Merger.Properties.Settings>
    </userSettings>
</configuration>